.totalStats{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.totalStats *{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
}
.totalStats p{
    color: rgba(255, 255, 255, 0.85);
}