.auth{
    background: #ff2265;
    border: 0;
    padding: 10px 0;
    font-weight: 500;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}
.auth:hover{
    background: red;
}
.lone{
    padding: 5px 15px;
    margin-top: 10px;
    width: 100%;
}